[submodule "Carthage/Checkouts/SimpleKeychain"]
	path = Carthage/Checkouts/SimpleKeychain
	url = https://github.com/octanner/SimpleKeychain.git
[submodule "Carthage/Checkouts/Marshal"]
	path = Carthage/Checkouts/Marshal
	url = https://github.com/timshadel/Marshal.git
[submodule "Carthage/Checkouts/SwiftyBeaver"]
	path = Carthage/Checkouts/SwiftyBeaver
	url = https://github.com/timshadel/SwiftyBeaver.git
