[submodule "Carthage/Checkouts/JaSON"]
	path = Carthage/Checkouts/JaSON
	url = https://github.com/bwhiteley/JaSON.git
[submodule "Carthage/Checkouts/SimpleKeychain"]
	path = Carthage/Checkouts/SimpleKeychain
	url = https://github.com/octanner/SimpleKeychain.git
